<%#= render :partial => 'spree/admin/shared/seller_sub_menu' %>

    <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
    <% end %>

    <div data-hook="new_seller_attrs" class="row">
      <div class="alpha four columns">
        <%= f.field_container :address_1 do %>
          <%= f.label :address, "Address" %><span class="required">*</span><br />
          <%= f.text_field :address_1, :size => 16, :class => 'fullwidth', :required => true %>
          <%= f.error_message_on :address_1 %>
        <% end %>
      </div>
      <div class="four columns">
        <%= f.field_container :city do %>
          <%= f.label :city, "City" %> <span class="required">*</span><br />
          <%= f.text_field :city, :class => 'fullwidth' %>
          <%= f.error_message_on :city %>
        <% end %>
      </div>
      <div class="four columns">
        <%= f.field_container :logo do %>
          <%= f.label :logo, Spree.t(:logo) %><br />
          <%= f.file_field :logo %>
        <% end %>
      </div>
    </div>
    <div data-hook="new_seller_attrs_1" class="row">
      <div class="alpha four columns">
        <%= f.field_container :contact_person_name do %>
          <%= f.label :contact_person_name, "Contact Person Name" %><span class="required">*</span><br />
          <%= f.text_field :contact_person_name, :size => 16, :class => 'fullwidth', :required => true %>
          <%= f.error_message_on :contact_person_name %>
        <% end %>
      </div>
      <div class="alpha four columns">
        <%= f.field_container :contact_person_email do %>
          <%= f.label :contact_person_email, "Contact Person Email" %><span class="required">*</span><br />
          <%= f.email_field :contact_person_email, :size => 16, :class => 'fullwidth', :required => true %>
          <%= f.error_message_on :contact_person_email %>
        <% end %>
      </div>
      <div class="alpha four columns">
        <%= f.field_container :phone do %>
          <%= f.label :phone, "Contact Number" %><span class="required">*</span><br />
          <%= f.text_field :phone, :size => 16, :class => 'fullwidth phone', :required => true %>
          <%= f.error_message_on :phone %>
        <% end %>
      </div>
    </div>
    <div data-hook="store locations" class="row">
      <%= link_to Spree.t("stock_locations"), admin_stock_locations_path %>
    </div>
    <% if spree_current_user.has_spree_role?('admin') %>
      <div data-hook="new_seller_message_1" class="row">
        <div class="alpha eleven columns">
          <%= f.field_container :message do %>
            <%= f.label :message, "Message for approve or unapprove" %></span><br />
            <%= f.text_area :message, :cols => 60, :rows => 10, :class => 'fullwidth message'%>
            <%= f.error_message_on :message %>
          <% end %>
        </div>
      </div>
    <% end %>